@import "tailwindcss";
@import "tw-animate-css";

:root {
  --taskmandu-background: #F2F5F7;
  --taskmandu-primary: #2596be;
  --taskmandu-pure-white: #FFFFFF;
  --taskmandu-secondary-text: #DADADA;
  --taskmandu-primary-text: #424242;
  --taskmandu-primary-icon: #DADADA;
  --taskmandu-light-text: #abdbe3;
  --taskmandu-light-icon: #DA881F;
}